html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

#searchInput{
    padding-right: 1.4em;
}
#searchButton{    
    margin-left: -1.4em;
    background:url(searchbutton.svg);    
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;    
    border: 0;
    background-color: transparent;
    color: black;

}
.search{

    font-family: sans-serif;
}
.landingpage{
    font-family:'Linux Libertine';  position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

h{
    font-size:120%;
}