.container-fluid{
	margin-top: 5vh;
}

.col-sm-6{
	height: 45vh;
}

.well{
	height: 95%;       
	overflow: auto;
}

.textDisplay{
	height: 90%;
	overflow:auto;
}

textarea {
    resize: none;
}

#customerMsg{
	height: 30vh !important;
	max-height: 60%;
}

#myMsg{
	height: 40% !important;
}

#before{
	max-height: 25%;
}

#after{
	max-height: 10%;
}

#lang{
	float:right;
	text-align: center;
	margin-right: 2vw;
}

.btn btn-default{
	float:left;

}