.container-fluid{
	margin-top: 5vh;
	font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.col-sm-6{
	height: 45vh;
}

.col-sm-4{
	height: 45vh;
}

.well{
	height: 95%;       
	overflow: auto;
}

.textDisplay{
	height: 85%;
	overflow:auto;
	word-wrap: break-word;
}

textarea {
    resize: none;
}

#customerMsg{
	height: 30vh !important;
	max-height: 60%;
}

#myMsg{
	height: 40% !important;
}

#before{
	max-height: 25%;
}

#after{
	max-height: 10%;
}

.lang{
	float:right;
	text-align: center;
	margin-right: 2vw;
}

#langInput{

	width: 6em;
}

.btn btn-default{
	float:left;

}